<!DOCTYPE html>
<html>
<head>
	<title> XIOT </title>
	<style type="text/css">
		.panel{
			background-color:grey;
		}
	</style>
</head>


<body>

<!-- HEADER PART STARTEED-->
<div id="header">

        <a href="https://www.hivemq.com"><img id="headerlogo" src="assets/logo.png"></a>
        <span id="headertitle"><b>Websockets Client Showcase</b></span>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
<!-- HEADER PART ENDDED-->
        
   


       <!--  <a class="small bottom conniArrow" onclick="websocketclient.render.toggle('conni');">
            <div class="icon-arrow-chevron"></div>
        </a>
   -->
 <!-- 12 -->
		 <h3 style="font-size: 30px"><b>Connection</b></h3>
        <div class="panel">
            	<!-- CONNECTION FORM STARTTED -->
                <form action="/connect" method="POST">
                    
                        <label ><b>Host</b></label>
                        <input name="host" type="text" style="margin-left: 7%"/> 
                    </br>
               
                        <label ><b>Port</b></label>
                        <input name="port"  style="margin-left: 7.25%"/>
</br>
                        <label ><b>ClientID</b></label>
                        <input name="ID" type="text" style="margin-left: 5.25%"/>
                  
         </br>
                        <label ><b>Username</b></label>
                        <input name="username" type="text" style="margin-left: 4.5%"/>
                    </br>
             
                        <label ><b>Password</b></label>
                        <input name=pswrd type="password" style="margin-left: 4.75%"/>
             </br>

                        <label ><b>Keep Alive</b></label>
                        <input name="KA" type="text" style="margin-left: 4%"/>
                    

             <!--        <div class="large-1 columns" style="display: none;">
                        <label>SSL</label>
                        <input id="sslInput" type="checkbox"/> -->
                   <!--  </div> -->

                  <!--       <label>Clean Session</label>
                        <input class="checky" name="CS" type="checkbox" checked="checked"
                               disabled="disabled"/> -->
</br>
                    
                        <label ><b>Last-Will Topic</b></label>
                        <input name="topic" type="text" style="margin-left: 2%"/>
                    
</br>
                 <!--    <div class="large-2 columns">
                        <label>Last-Will QoS</label>
                        <select id="lwQosInput">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div> -->

                  <!--   <div class="large-2 columns">
                        <label>Last-Will Retain</label>
                        <input class="checky" id="LWRInput" type="checkbox"/>
                    </div> -->

                   
                        <label ><b>Last-Will Messsage</b></label>
                        <textarea name="msg" style="margin-left: 0.2%"></textarea>
                    </br></br>
                    <div style="margin-left:5%">
                     <!-- CONNECT. BUTTON -->
                        	<button type="submit" name="CONNECT" style="font-size: 20px">CONNECT</button>
        
                      <!--   <a id="disconnectButton" class="small button"
                           onclick="websocketclient.disconnect();">Disconnect</a> -->

                           <!-- DISCONNECT BUTTON -->
                           <button type="submit" name="DISCONNECT" style="font-size: 20px">DISCONNECT</button>
                       </div>
                    
                </form>
                <!-- CONNECTION FORM ENDDED -->


         
        </div>
<!-- 12 ENDDED -->
<div class="empty"></div>
<div id="publish-sub" class="row large-12 columns">
    <div class="columns large-8">
        <div class="large-9 columns publishTop">
            <h3>Publish</h3>
        </div>

        <div class="large-3 columns publishArrow">
            <a class="small bottom publishArrow" onclick="websocketclient.render.toggle('publish');">
                <div class="icon-arrow-chevron"></div>
            </a>
        </div>

        <div class="large-12 columns" id="publishMain">

            <!-- Grid Example -->
            <div class="row panel" id="publishPanel">
                <div class="large-12 columns">
                    <form class="custom">
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Topic</label>
                                <input id="publishTopic" type="text" value="testtopic/1">
                            </div>
                            <div class="large-2 columns">
                                <label for="publishQoSInput">QoS</label>
                                <select id="publishQoSInput" class="small">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                            <div class="large-2 columns">
                                <label>Retain</label>
                                <input id="publishRetain" type="checkbox">
                            </div>
                            <div class="large-2 columns">
                                <a class="small button" id="publishButton"
                                   onclick="websocketclient.publish($('#publishTopic').val(),$('#publishPayload').val(),parseInt($('#publishQoSInput').val(),10),$('#publishRetain').is(':checked'))">Publish</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Message</label>
                                <textarea id="publishPayload"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="empty"></div>
        <div class="large-9 columns messagesTop">
            <h3>Messages</h3>
        </div>

        <div class="large-3 columns messagesArrow">
            <a class="small bottom messagesArrow" onclick="websocketclient.render.toggle('messages');">
                <div class="icon-arrow-chevron"></div>
            </a>
        </div>


 
            
              

                    <div class="row">
                        <ul id="messEdit" class="disc">

                        </ul>
                    </div>
                
            

        
    </div>

    <div class="columns large-4">

        <div class="large-8 columns subTop">
            <h3>Subscriptions</h3>
        </div>

        <div class="large-3 columns subArrow">
            <a class="small bottom subArrow" onclick="websocketclient.render.toggle('sub');">
                <div class="icon-arrow-chevron"></div>
            </a>
        </div>
        <div class="large-12 columns" id="subMain">
            <div class="row panel">
                <div class="large-12 columns">

                    <a id="addSubButton" href="#data" class="small button addSubButton">Add New Topic Subscription</a>

                    <div style="display:none">
                        <div id="data">
                            <form class="custom">
                                <div class="row large-12 columns">
                                    <div class="large-4 columns">
                                        <label>Color</label>
                                        <input class="color" id="colorChooser" type="hidden">
                                    </div>
                                    <div class="large-5 columns">
                                        <label for="QoSInput">QoS</label>
                                        <select id="QoSInput" class="small">
                                            <option>2</option>
                                            <option>1</option>
                                            <option>0</option>
                                        </select>
                                    </div>
                                    <div class="large-3 columns">
                                        <a class="small button" id="subscribeButton"
                                           onclick="if(websocketclient.subscribe($('#subscribeTopic').val(),parseInt($('#QoSInput').val()),$('#colorChooser').val().substring(1))){$.fancybox.close();}">Subscribe</a>
                                    </div>
                                </div>
                                <div class="row large-12 columns">
                                    <div class="large-12 columns">
                                        <label>Topic</label>
                                        <input id="subscribeTopic" type="text" value="testtopic/#">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <ul id="innerEdit" class="disc">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>





<!-- 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.2.3/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.2.3/js/foundation/foundation.forms.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
<script src="js/jquery.minicolors.min.js"></script>
<script src="js/mqttws31.js"></script>
<script src="js/encoder.js"></script>
<script src="js/app.js"></script>

<script>

    function randomString(length) {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for (var i = 0; i < length; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        return text;
    }

    $(document).foundation();
    $(document).ready(function () {

        $('#clientIdInput').val('clientId-' + randomString(10));

        $('#colorChooser').minicolors();

        $("#addSubButton").fancybox({
            'afterShow': function () {
                var rndColor = websocketclient.getRandomColor();
                $("#colorChooser").minicolors('value', rndColor);
            }
        });

        websocketclient.render.toggle('publish');
        websocketclient.render.toggle('messages');
        websocketclient.render.toggle('sub');
    });
</script>
</body> -->